body{
    background-color: #ffecfc;
    background-image: url("fundo_FAQs.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    background-position: center top;



}





.card{

}